<div class="container">

  <div class="d-flex flex-column bd-highlight mb-3 justify-content-center">

    <!-- filter -->
    <form method="GET" action="/filter">
      <div class="filter-category">
        <select class="form-control" id="filter-category" name="category" onchange="submit">
          <option disabled selected>支出類別</option>
          {{#each categories}}
          <option value="{{this.category}}" {{#eq filteredCategory "{{this.category}}"}}selected{{/eq}}>
            {{this.category}}</option>
          {{/each}}
        </select>
      </div>
    </form>



    <div class="total-amount-section p-2 bd-highlight">
      <span>總金額：</span>
      <div class="total-amount">{{ getTotal records }}</div>
    </div>
  </div>

  <div class="list-group mt-5">
    {{#each records}}

    <div class="row d-flex justify-content-around pt-3">
      <div class="front-part d-flex justify-content-center">
        <div class="category-part">
          <p>{{this.category}}</p>
        </div>
        <div class="col-auto mr-auto">
          <h5 style="display: inline; vertical-align: middle;">
            {{this.name}}
          </h5>
          <h6>
            {{this.date}}
          </h6>
        </div>

        <div class="amount-part">
          {{this.amount}}
        </div>

      </div>

      <div class="col-auto">

        <a href="./records/{{ this._id }}/edit" class="btn btn-light">edit</a>
        <form action="./records/{{ this._id }}/delete" method="POST" style="display: inline;">
          <button class="btn btn-light" type="submit">delete</button>
        </form>


      </div>
    </div>

    {{/each}}

    <div class="btn-create d-flex justify-content-center mt-5">
      <a href="./records/new">
        <button type="button" class="btn btn-outline-info btn-lg">新增支出</button>
      </a>

    </div>
  </div>