<div class="container">


  <div class="container search-bar mt-5">


    <div class="container  mb-4">
      <div class="row d-flex justify-content-center">
        <p class="lead font-weight-bold">開銷總金額：</p>
        <h1 class="display-4 text-muted mt-3">$ {{totalAmount}}</h1>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <form action="/search" class="search__form">

        <div class="input-group">

          <div class="dropdown shadow sorter">
            <button class="btn btn-outline-info btn-sm btn-block dropdown-toggle sorter__text" type="button"
              id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{#if filterTarget}}
              {{filterTarget}}
              {{else}}
              依照類別搜尋
              {{/if}}
            </button>
            <div type="submit" class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button name="filterCategory" value="依照類別搜尋" class="dropdown-item">選擇開銷類型</button>
              <div class="dropdown-divider"></div>
              {{#each categories}}
              <button name="filterCategory" value="{{ this.name }}" class="dropdown-item">{{ this.name }}</button>
              {{/each}}
            </div>
          </div>

        </div>

      </form>
    </div>

  </div>


  <div class="list-group mt-3">
    {{#each records}}

    <div class="row d-flex justify-content-around pt-3">
      <div class="front-part d-flex justify-content-center">
        <div class="category-part" title="{{ this.category }}">
          <i class="{{this.tag}}"></i>
        </div>
        <div class="col-auto mr-auto">
          <h5 style="display: inline; vertical-align: middle;">
            {{this.name}}
          </h5>
          <h6>
            {{this.date}}
          </h6>
        </div>

        <div class="amount-part">
          {{this.amount}}
        </div>

      </div>

      <div class="col-auto">

        <a href="./records/{{ this._id }}/edit" class="btn btn-light">edit</a>
        <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
          <button class="btn btn-light" type="submit">delete</button>
        </form>


      </div>
    </div>

    {{/each}}

    <div class="btn-create d-flex justify-content-center mt-5">
      <a href="./records/new">
        <button type="button" class="btn btn-outline-info btn-sm">新增支出</button>
      </a>

    </div>
  </div>